# Gitignore settings for ESPHome
*
*/*
!common
!custom_components
!custom_components/*
!custom_components/**/*.cpp
!custom_components/**/*.h
!custom_components/**/*.py
!remotes
!*.yaml
!*.h
!README.md
!requirements.txt
!.gitignore
/secrets.yaml
