# Gitignore settings for ESPHome
*
*/*
!common
!my_components
!my_components/*
!my_components/**/*.cpp
!my_components/**/*.h
!my_components/**/*.py
!remotes
!*.yaml
!*.h
!README.md
!requirements.txt
!.gitignore
/secrets.yaml
